[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.8'

[packages]
fastapi = "~=0.74"
uvicorn = {extras = ["standard"], version = "~=0.11"}
pydantic = {extras = ["email"], version = "~=1.9"}
sqlalchemy = "~=1.4"

[dev-packages]
pytest = "~=7.0"
flake8 = "~=4.0"
